.answer {
    padding: 10px;
    background-color: #F0134D;
    height: 5rem;
 }

.correct {
    background-color: #42B883;
}

.choose-another {
    padding: 10px;
}

.question {
    padding: 10px;
    height: 5rem;
}

