<div class="quiz" *ngIf="quiz">

  <!--show nothing if quiz is not loaded-->
  <!--only display app-question-form component if showResults flag=false-->
  <div class="questions" *ngIf="!showResults">

    <!--[input] // (output) brackets match decorators used in question-form.component-->
    <!-- onChoiceMade is given function updateChoice & argument $event
      $event bound to choice made within component & passed to updateChoice function-->
    <app-question-form [question]="quiz.questions[currentQuestionIndex]" (onChoiceMade)="updateChoice($event)">
    </app-question-form>

    <button class="btn btn-success" [disabled]="!answers.values[currentQuestionIndex]">
      {{currentQuestionIndex === quiz.questions.length - 1 ? 'View results' : 'Next'}}
    </button>
  </div>
</div>