<!--*ngIf only renders quiz div if condition is true -->
<div class="quiz" *ngIf="question">

    <!-- interpolation - similar to React ${}-->
    <h1>{{question.label}}</h1>

    <form [formGroup]="form">

        <div class="form-group">

            <mat-radio-group formControlName="choice">
                <!--ngFor loops over collection inside template,
                    here: render as many radio buttons as there are choices in question-->

                <label *ngFor="let choice of question.choices">

                    <mat-radio-button [value]="choice">
                        <span>{{choice.value}}</span>
                    </mat-radio-button>

                </label>
            </mat-radio-group>
        </div>
    </form>
</div>